<div class="jumbotron">
  <h1>
    <%= title %>
  </h1>
</div>

<ul class="list-group" v-for="item in postsList">
  <li class="list-group-item">
    <a v-bind:href="item.url">{{ item.title }}</a>
  </li>
</ul>
<script>
  var vm = new Vue({
    el: '#app',
    data: {
      postsList: []
    },
    methods: {
      fetchData() {
        axios.get('/api/v1/posts')
          .then(function(response){
            return response.data;
          })
          .then(function (data) {
            vm.postsList = data.postsList;
            vm.postsList.forEach((element) => element.url = '/posts/show?id=' + element._id);
          })
          .catch(function(err){
            alert(err);
          });
      }
    }
  });
  vm.fetchData();
</script>