<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body
        {
          background-image:url('/images/background.jpg');
          background-size:100%;
          background-repeat:no-repeat;
        }
        </style>
  </head>
  <body>
    <div class="container-fluid">
      <div class="jumbotron">
        <h1><%= title %></h1>
      </div>

      <ul class="list-group" v-for="item in postsList">
        <li class="list-group-item">
          <a v-bind:href="item.url">{{ item.title }}</a>
        </li>
      </ul>
    </div>
  </body>
</html>