body {
padding: 50px; 
font: 14px "Lucida Grande", Helvetica, Arial, sans - serif; 
background: "http: //otnjt3h06.bkt.clouddn.com/image/webapp/%E6%98%9F%E7%A9%BA%E8%83%8C%E6%99%AF.jpg";
}

a {
color: #00B7FF; 
}